{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb", "prettier"],
  "parser": "babel-eslint",
  "rules": {
    // code arrangement matter
    "no-use-before-define": [2, {
      "functions": false
    }],
    // keep it simple
    "complexity": [1, 5],

    "comma-dangle": ["error", "never"],

    "react/prop-types": 0,

    "global-require": 0,

    "max-len": [2, 100, 4],

    "import/prefer-default-export": 0
  },
  {
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  }
}
}
